@import 'nullstyle';

.about {

	&__body {
		min-width: 823px;
		margin: 0 auto;
	}

	&__header {
		margin: 0 0 65px 0;
	}

	&__title {
		margin: 0 0 30px 0;
	}

	&__text {
		min-width: 688px;
		font-size: 14px;
		font-weight: 300;
		text-align: center;
		line-height: 26px;
		margin: 0 auto;
		font-size: 0;
	}

	&__row {
		display: flex;
		margin: 0 15px;
	}

	&__column {
		padding: 0 15px;
		flex: 0 0 33.333%;
	}
}
.title {
	font-size: 34px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 9px;
	position: relative;
	text-align: center;
	padding: 0 0 30px 0;
	&::after{
		content: '';
		position: absolute;
		width: 50px;
		bottom: 0;
		height: 1px;
		left: 50%;
		background-color: #000;
		margin: 0 0 0 -25px;
	}
}
.item-about {

	&__icon {
		margin: 0 auto;
		border-radius: 50%;
		width: 92px;
		height: 92px;
		border: 2px solid #f1f1f1;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__title {
		text-align: center;
		color: #000;
		font-size: 22px;
		text-transform: uppercase;
		letter-spacing: 4px;
		margin: 40px 0 35px 0;

	}

	&__text {
		text-align: center;
	}
}
